
<div class="md:flex block">
  <div class="px-5 mt-3 md:w-1/2">
    <h5 class="text-yellow-50 font-black" >Educacíon</h5>
    <ol class="relative border-s mt-3 border-gray-200 dark:border-gray-700">
      <li class="mb-10 ms-6">
        <span class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900">
            <svg class="w-2.5 h-2.5 text-blue-800 dark:text-blue-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
            </svg>
        </span>
        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
          Técnico En Desarrollo De Aplicaciones Web <span class="text-green-500">SENA</span>
        </h3>
        <time class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">Relalizado del 2021 al 2023.</time>
        <!-- <p class="text-base font-normal text-gray-500 dark:text-gray-400">El perfil ocupacional de la especialidad TÉCNICO EN PROGRAMA DE APLICACIONES Y SERVICIOS PARA LA NUBE es el siguiente: MAQUETADO, VERSIONADO, MEJORES PRÁCTICAS DE LA INDUSTRIA, CÓDIGO FUENTE EN JS, PATRONES DE DISEÑO, APIS, BASES DE DATOS, DESPLIEGUE DE SERVICIOS WEB.</p> -->
         <p class="text-base font-normal text-gray-500 dark:text-gray-400">Sólidos conocimientos en el diseño y desarrollo de aplicaciones web. Durante mi formación, adquirí competencias en el manejo de lenguajes de programación como HTML, CSS, JavaScript y frameworks modernos como Angular y Node.js. Además, poseo experiencia en bases de datos relacionales y no relacionales, lo que me permite desarrollar soluciones completas tanto en el frontend como en el backend, con un enfoque en la optimización, usabilidad y seguridad de las aplicaciones.</p>
      </li>
      <li class="mb-10 ms-6">
          <span class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900">
              <svg class="w-2.5 h-2.5 text-blue-800 dark:text-blue-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                  <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
              </svg>
          </span>
          <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
            Cursos <span class="text-green-500">Plataformas Tecnológicas</span>
          </h3>
          <time class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">Realizado en 2021</time>
          <p class="text-base font-normal text-gray-500 dark:text-gray-400">Curso a fondo en html5 y css3 el cual tuvo una intensidad de 48 horas.</p>
      </li>
      <li class="ms-6">
          <span class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900">
              <svg class="w-2.5 h-2.5 text-blue-800 dark:text-blue-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                  <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
              </svg>
          </span>
          <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
            Diplomado <span class="text-green-500">Universidad de Antioquia</span>
          </h3>
          <time class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">Realizado en 2022</time>
          <p class="text-base font-normal text-gray-500 dark:text-gray-400">Participé en el programa del gobierno de Colombia Mision Tic, logrando certificarme en python y javascript, el cual tuvo una intensidad de 400 horas en total.</p>
      </li>
    </ol>
  </div>
  <div class="px-5 mt-3 md:w-1/2">
    <h5 class="text-yellow-50 font-black" >Experiencia Laboral</h5>
    <ol class="relative border-s mt-3 border-gray-200 dark:border-gray-700">
      <li class="mb-10 ms-6">
          <span class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900">
              <svg class="w-2.5 h-2.5 text-blue-800 dark:text-blue-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                  <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
              </svg>
          </span>
          <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
            Desarrollador Web Junior <span class="text-green-500">CINCO S.A.S</span>
          </h3>
          <time class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">Relalizado del 09/2022 -  al 05/2023.</time>
          <p class="text-base font-normal text-gray-500 dark:text-gray-400">Prácticas como programador en el cual me desempeñé especialmente como Front-End con JavaScript, Html, Css, etc. Mi labor era desarrollar una app web d esde cero, el la cual se llevaria acabo el inventario de todas las herramientas en poseción del personal, también desarrolar con php las consultas a la base de datos, desarrolar algoritmos para que la información no presentara fallos, ya que era una empresa de mas de mil empleados.</p>
      </li>
      <li class="ms-6">
          <span class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900">
              <svg class="w-2.5 h-2.5 text-blue-800 dark:text-blue-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                  <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
              </svg>
          </span>
          <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
            Desarrollador Web <span class="text-green-500">BEAUTY PLUS</span>
          </h3>
          <time class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">Relalizado del 06/2023 -  al 02/2024.</time>
          <p class="text-base font-normal text-gray-500 dark:text-gray-400">Desarrollador web con Angular, TypeScript y Node js, en este proyecto tuve que realizar un sistema de gestión de empleados en tiempo real utilizando tecnologías como web socket que permite ver cambios en tiempo real sin la necesidad de peticiones constantes al servidor, el sistema contenía logística, ventas y contabilidad , desarrollando completamente el modulo de nomina.</p>
      </li>
    </ol>
  </div>
</div>

